html, body {
  height: 100%;
}
.page {
  height: 100%;
  width: 100%;
  display: table;
}
.container {
  display: table-cell;
  height: 100%;
  font-size: 40px;
  text-align: center;
  line-height: 1.5;
  vertical-align: middle;
}